
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>
<!--click an image to see info-->
<a href="@Url.Action("Tuba", "Rentals")">
    <img src="~/Content/Images/tuba.jpg" />
</a>
<a href="@Url.Action("Clarinet", "Rentals")">
    <img src="~/Content/Images/clarinet.jpg" />
</a>
<a href="@Url.Action("Flute", "Rentals")">
    <img src="~/Content/Images/flute.jpg" />
</a>
<a href="@Url.Action("Saxophone", "Rentals")">
    <img src="~/Content/Images/saxophone.jpg" />
</a>
<a href="@Url.Action("Trombone", "Rentals")">
    <img src="~/Content/Images/trombone.jpg" />
</a>
<a href="@Url.Action("Trumpet", "Rentals")">
    <img src="~/Content/Images/trumpet.jpg" />
</a>

<style>
    img {
        width:200px
    }
</style>
